ul {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: aqua;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

li {
  width: 370px;
  height: 370px;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 44px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: brown;
  opacity: 0;
  left: 0;
  top: 0;
  pointer-events:none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-text {
  font-size: 60px;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.backdrop.open {
    opacity: 1;
    pointer-events: all;
}